# Environment
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/staticfiles/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db