<nav class="navbar navbar-expand-lg navbar-dark bg-primary-green sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'index' %}">
            <i class="fas fa-recycle me-2"></i>ZORIZON
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" 
                       href="{% url 'index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" 
                       href="{% url 'about' %}">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'technology' %}active{% endif %}" 
                       href="{% url 'technology' %}">Technologie & Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'impact' %}active{% endif %}" 
                       href="{% url 'impact' %}">Impact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" 
                       href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>